*
!.gitignore
*\pom.properties

src\main\java\com\revature\utility\SQLInfo.java
src\main\java\com\revature\utility\SQLInfo.class

*\server-config.SQL
*\requirements.docx
*\schema.xlsx

QMS\*
!QMS\src\

QMS\node_modules
target\*
\target\
